<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>language</param-name>
        <param-value>Vietnamese</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>member_homepage.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>HomepageController</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.HomepageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GalleryController</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.GalleryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffTransactions</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.StaffTransactions</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomepageController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StaffFieldTrips</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.StaffFieldTrips</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffMailCenter</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.StaffMailCenter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffMediaController</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.StaffMediaController</servlet-class>
        <multipart-config>
            <max-file-size>5242880</max-file-size>
            <max-request-size>10485760</max-request-size>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>StaffAccountFTController</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.StaffAccountFTController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FieldTripParticipantsController</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.FieldTripParticipantsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffAccountMTController</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.StaffAccountMTController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MeetingParticipantsController</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.MeetingParticipantsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffGallery</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.StaffGallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffNews</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.StaffNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogController</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.BlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffFeedback</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.StaffFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberProfileController</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.MemberProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BirdProfileController</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.BirdProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BirdProfileEditController</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.BirdProfileEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffBlogs</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.StaffBlogs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedBackController</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.FeedBackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffEvents</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.StaffEvents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffHomepage</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.StaffHomepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffMember</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.StaffMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffTournament</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.StaffTournaments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BirdController</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.BirdController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BirdController</servlet-name>
        <url-pattern>/BirdController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TparticipationController</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.TparticipationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TparticipationController</servlet-name>
        <url-pattern>/TparticipationController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MemberPaicipant</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.MemberPaicipant</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MemberPaicipant</servlet-name>
        <url-pattern>/MemberPaicipant</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserAccessController</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.UserAccessController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserAccessController</servlet-name>
        <url-pattern>/UserAccessController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffEvents</servlet-name>
        <url-pattern>/events</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StaffAccountController</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.StaffAccountController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffHomepage</servlet-name>
        <url-pattern>/staffhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffMember</servlet-name>
        <url-pattern>/members</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffTournament</servlet-name>
        <url-pattern>/tournaments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffFieldTrips</servlet-name>
        <url-pattern>/staffFieldTrips</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffMailCenter</servlet-name>
        <url-pattern>/mail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffMediaController</servlet-name>
        <url-pattern>/media</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffAccountFTController</servlet-name>
        <url-pattern>/StaffAccountFTController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FieldTripParticipantsController</servlet-name>
        <url-pattern>/FieldTripParticipantsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffAccountMTController</servlet-name>
        <url-pattern>/StaffAccountMTController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MeetingParticipantsController</servlet-name>
        <url-pattern>/MeetingParticipantsController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayQuery</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.vnpayQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayRefund</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.vnpayRefund</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayQuery</servlet-name>
        <url-pattern>/vnpayquery/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayRefund</servlet-name>
        <url-pattern>/vnpayrefund/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TransactionController</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.TransactionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransactionController</servlet-name>
        <url-pattern>/TransactionController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MemberShipController</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.MemberShipController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MemberShipController</servlet-name>
        <url-pattern>/MemberShipController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffGallery</servlet-name>
        <url-pattern>/gallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffNews</servlet-name>
        <url-pattern>/news</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogController</servlet-name>
        <url-pattern>/BlogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffFeedback</servlet-name>
        <url-pattern>/feedbacks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberProfileController</servlet-name>
        <url-pattern>/MemberProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BirdProfileController</servlet-name>
        <url-pattern>/BirdProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BirdProfileEditController</servlet-name>
        <url-pattern>/BirdProfileEditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffBlogs</servlet-name>
        <url-pattern>/blogs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedBackController</servlet-name>
        <url-pattern>/FeedBackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GalleryController</servlet-name>
        <url-pattern>/Gallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffTransactions</servlet-name>
        <url-pattern>/transactions</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
