<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>language</param-name>
        <param-value>Vietnamese</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>staffhome</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>HomepageController</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.HomepageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomepageController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StaffEvents</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.StaffEvents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffHomepage</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.StaffHomepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffMember</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.StaffMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffTournament</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.StaffTournaments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BirdController</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.BirdController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BirdController</servlet-name>
        <url-pattern>/BirdController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TparticipationController</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.TparticipationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TparticipationController</servlet-name>
        <url-pattern>/TparticipationController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserAccessController</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.UserAccessController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserAccessController</servlet-name>
        <url-pattern>/UserAccessController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffEvents</servlet-name>
        <url-pattern>/events</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StaffAccountController</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.StaffAccountController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffHomepage</servlet-name>
        <url-pattern>/staffhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffMember</servlet-name>
        <url-pattern>/members</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>StaffTournament</servlet-name>
        <url-pattern>/tournaments</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
